html {
  height: 100%;
  width: 100%;
}

:root {
  --branco-principal: #
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}
.principal{
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}
. container {
  height: 100%vh;
}

.container__caixa {
  margin: 0 6em;
}
.container__titulo{
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__botao{
  background-color: var(--botao-azul);
  color: var(--branco-principal);
  text-decoration: none;
  display: block;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}

.botao__secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso{
  font-size: 12px;
}

/* Aqui começa a segunda sessão */

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-size: 48px;
  font-weight: 700;
  color: var(--branco-principal);
  margin: 0.1em;
}
.descricao__texto {
  color: var(--cinza-secundario);
}